@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
}

body{
    font-family: "Kumbh Sans", serif;
}

ul{
    display: none;
}
nav{
display: flex;
padding: 1rem;
justify-content: space-between;
}

.profile-pic img{
    max-width: 40%;
}

.nav-div-1{
    display: flex;
    gap: 1rem;
}

.nav-div-2{
    display: flex;
    gap: 2rem;
}

.section-1 img{
max-width: 100%;

}

.section-1{
    position: relative;
    top: 0;
    left: 0;
}

.arrow-icon{
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
}

.section-1-div-1{

}

.section-1-div-2{
    display: flex;
    justify-content: space-between
}

.section-2{
    padding: 1rem;
}

.section-2 h5{
    padding-bottom: 1rem;
    font-size: 15px;
    color: var(--Very-dark-blue);
}

.section-2 h1{
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 700;
    color: var(--Black);
}

.section-2 p{
    font-size: 16px;
    line-height: 1.7rem;
}


.section-3{
    padding-bottom: 6rem;
}

.section-3 h5{
    font-size: 1rem;
}


.section-3-div-1{
    padding: 2rem  1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-3-div-1-div{
    display: flex;
    gap: 12px;
}

.section-3-div-2{
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding-bottom: 2rem;
    background-color: var(--Light-grayish-blue);
    width: 80%;
    margin: 0 auto;
}

button{
    border: none;
    color: var(--White);
    background-color: var(--Black);
    width: 4rem;
    border-radius: 8px;
}

.section-3-div-3{
    height: 3rem;
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: var(--Orange);
   width: 90%;
   margin: 0 auto;
   border-radius: 8px;
}

@media(min-width:765px){

    .hamburger-icon{
        display: none;
    }

    ul{
        display: block;
        list-style: none;
        display: flex;
       gap: 2rem;
    }

    main{
        display: flex;
    
    }

    .section-3{
        flex-direction: column;
    }

    .overall-section{
        display: flex;
        flex-direction: column;
    }

    .section-3-div-2-div{
        display: flex;
    }

    .overall-section{
        padding-top: 4rem;
        padding-right: 15rem;
    }

    .section-1 img{
        max-width:70%;
        padding: 1.5rem;
        border-radius: 8px;
    }
}




