@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
}

body{
    font-family: "Kumbh Sans" , sans-serif;
    max-width: 1536px;
    margin: 0 auto;
}

p{
    font-size: 16px;
}

ul{
    list-style: none;
    display: none;
}

.container{
    padding: 20px 12px;
    max-width: 1400px;
    margin: 0 auto;
}

/* nav */ 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section-1a{
    display: flex;
    gap: 14px;
    align-items: center;
}

.nav-section-2{
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 20px;
}

.nav-section-2 div:last-child{
max-width: 20%;
}

.nav-section-2 div:last-child img{
 max-width: 100%;
}
.section-1-hero-img img{
    max-width: 100%;
}

.sneaker-div{
    position: relative;
}

.div-2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 180px;
    left: 0;
    right: 0;
}

.arrow-divs{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
padding: 19px;
}

.thumbnail-wrapper{
    display: none;
}

.section-2-div-1 h4{
    color: var(--Grayish-blue);
    font-weight: 700;
    font-size: 19px;
    /* padding-bottom: 10px; */
}

.section-2-div-1 h1{
    font-size: 2rem;
    padding: 10px 0;
}

.section-2-div-2 > p{
    color: var(--Grayish-blue);
    line-height: 1.9;
    font-size: 16px
}

.section-2-div-2-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.section-2-div-2-a-inner{
display: flex ;
gap: 15px;
align-items: center;
}

.section-2-div-2-a-inner h1{
    font-size: 1.6rem;
}

.section-2-div-2-a-inner h5{
    background-color: var(--Black);
    color: var(--White);
    padding: 8px 15px;
    border-radius: 8px;
}

.section-2-div-2-a p{
    font-size: 16px;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through
}

.inc-and-dec{
    background-color: var(--Light-grayish-blue);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-bottom: 15px;
    border-radius: 10px ;
}

.add-to-cart-btn{
    margin-bottom: 14px;
}


.add-to-cart-btn button{
    min-width: 100%;
    background-color: var(--Orange);
    border: none;
    height: 4rem;
    border-radius: 10px;
    color: var(--Black);
    font-size: 22px;
    font-weight: 700;
}