@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
}

body{
    font-family: "Kumbh Sans" , sans-serif;
    max-width: 1536px;
    margin: 0 auto;
}

p{
    font-size: 16px;
}

ul{
    list-style: none;
    display: none;
}

.container{
    padding: 20px 12px;
    max-width: 1400px;
    margin: 0 auto;
}

/* nav */ 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section-1a{
    display: flex;
    gap: 14px;
    align-items: center;
}

.nav-section-2{
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 20px;
}

.nav-section-2 div:last-child{
max-width: 20%;
}

.nav-section-2 div:last-child img{
 max-width: 100%;
}
.section-1-hero-img img{
    max-width: 100%;
}

.sneakers-div{
    position: relative;
}

.div-2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 60%;
    left: 0;
    right: 0;
}

.arrow-divs{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
padding: 19px;
}